<% @projects.each do |project| %>
  <div class="card">
    <div class="card-header">
      <h5 class="card-title
        <%= project.completed? ? "text-success" : "text-danger" %>">
            <%= project.name %>
        </h5>
        </div>
        <div class="card-body">
        <p class="card-text">
            <%= project.overview %>
        </p>
        <p class="card-text">
            <small class="text-muted">
            <%= project.created_at.strftime("%d/%m/%Y") %>
            </small>
        </p>
        <div class="btn-group" role="group" aria-label="Basic example">
            <%= link_to "Show", journey_step_path(project.current_step.journey, project.current_step), class: "btn btn-primary" %>
        </div>
        </div>
    </div>
    <% end %> 