<h2><%= @project.name %> - <%= @step.journey.name %> </h2>
<h1></h1>
<p><%= @project.overview %></p>
<p><%= @project.created_at.strftime("%d/%m/%Y") %></p>
<p><%= @project.updated_at.strftime("%d/%m/%Y") %></p>
<ul>
    <% @steps.each do |step| %>
        <li>
            <%= step.name %>
        </li>
    <% end %>
</ul>